{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Update Profile
{% endblock %}

{% block content %}
    <div>
        <form method="POST" enctype="multipart/form-data" style="width: 25em; align-content: center; margin: auto;">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" value="Save" style="margin-top: 20px;">Save</button>
        </form>
    </div>
{% endblock content %}
