{% extends "index.html" %}

{% block content %}
    {% if object_list %}
        <h1>Search Results</h1>
        <br/>
        {% for student in object_list %}
            <li>
                {{ student.first_name }} {{ student.last_name }}<br/>
            </li>
        {% endfor %}
    {% else %}
        <h1>Nothing to search</h1>
    {% endif %}
{% endblock %}