{% extends 'index.html' %}
{% block content %}
    <h3>Welcome {{ user.profile.user }}</h3>
    {% if user.profile.avatar %}
        <p><img src="{{ profile.avatar.url }}"></p>
    {% endif %}
    <p>{{ user.profile.user_type }}</p>
    <p>{{ userprofile.avatar }}</p>
    <p>{{ user.profile.birth_date }}</p>
    <p>{{ user.profile.email }}</p>
    <p>{{ user.profile.phone_number }}</p>
    <p>{{ user.profile.location }}</p>
    <p>{{ user.profile.web_site }}</p>
    <p>{{ user.profile.github }}</p>
    <a class="btn btn-primary" href={% url "core:profile-update" user.profile.id %}>Edit Profile</a>
{% endblock content %}


