{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author"
          content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>LMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link rel="canonical"
          href="https://getbootstrap.com/docs/5.2/examples/cover/">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static "css/cover.css" %}" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-1 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0"><a style="color: white; text-decoration: none;"
                                               href="{% url "index" %}">LMS</a></h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0 active"
                   aria-current="page"
                   href="{% url "index" %}">Home</a>

                <a class="nav-link fw-bold py-1 px-0"
                   href="{% url 'students:get_students' %}">Students</a>

                <a class="nav-link fw-bold py-1 px-0"
                   href="{% url 'teachers:get_teachers' %}">Teachers</a>

                <a class="nav-link fw-bold py-1 px-0"
                   href="{% url 'groups:get_groups' %}">Groups</a>

                <a href="#"
                   class="nav-link fw-bold py-1 px-5 d-block link-dark text-decoration-none"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.avatar %}
                        <img src="{{ user.avatar }}" alt="mdo"
                             class="rounded-circle" width="32" height="32">
                    {% else %}

                        <img src="{% static "img/default_avatar.jpeg" %}" alt="mdo"
                             class="rounded-circle" width="32" height="32">
                    {% endif %}
                </a>
                {% if user.is_authenticated %}
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" href="#">{{ user.email|lower }}</a></li>
                        {% if user.profile.pk %}
                            <li><a class="dropdown-item" href="{% url 'core:profile' user.profile.pk %}">Profile</a>
                            </li>
                        {% endif %}
                        {% if user.is_staff %}
                            <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin
                                page</a>
                            </li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url "core:password" %}">Change password</a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url "core:logout" %}">Logout</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" href="{% url "core:login" %}">Login</a></li>
                        <li><a class="dropdown-item" href="{% url "core:registration" %}">Registration</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url "core:password_success" %}">Reset password</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'social:begin' backend='google-oauth2' %}">Gmail</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'social:begin' backend='facebook' %}">Facebook</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'social:begin' backend='github' %}">Github</a></li>
                    </ul>
                {% endif %}

            </nav>
        </div>
    </header>

    <main class="px-3">
        {% block content %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message|safe }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}

            <form class="form-inline" method="GET" action="{% url "searchbar" %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input class="form-control mr-sm-2" type="search" name="q"
                           placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning" type="submit">Search</button>
                </div>
            </form>


            <div class="container text-center w-30">
                <img src="{% static "img/1.png" %}"
                     alt="no image"
                     class="img-fluid">
            </div>
        {% endblock %}
    </main>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>