{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <h1>Change Password</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST" style="width: 25em; align-content: center; margin: auto;">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" value="Change Password">Change Password
            </button>
        </form>
    </div>
{% endblock content %}