{% extends "index.html" %}
{% block title %}Password Updated{% endblock %}
{% block content %}
    <h1>Your password has been updated</h1>
    <a class="btn btn-primary" href={% url "index" %}>Home Page</a>
    <br/><br/>
{% endblock content %}