{% extends "index.html" %}
{% load static %}
{% block content %}
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Birth date</th>
            <th scope="col">Age</th>
            <th scope="col">Group</th>
            <th scope="col">Grade</th>
            <th scope="col">Resume</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for student in students %}
            <tr>
                {% if person.avatar %}
                    <th scope="row"><img height="50" width="50" src="{{ person.avatar.url }}"
                                         alt="no image" title="avatar">
                        {% else %}
                    <th scope="row"><img height="50" width="50" src="{% static "img/default_avatar.jpeg" %}"
                                         alt="no image" title="avatar">
                {% endif %}
                </th>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                {% if student.birth_date %}
                    <td>{{ student.birth_date }}</td>
                    <td>{{ student.age }}</td>
                {% else %}
                    <td>Undefined</td>
                    <td>Undefined</td>
                {% endif %}
                <td>{{ student.group }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ student.resume }}</td>
                <td><a type="button" class="btn btn-warning"
                       href="{% url 'students:update_student' student.pk %}">Edit</a>
                <td>
                    <button class="btn btn-danger" onclick="delete_item({{ student.pk }});">Delete</button>
                </td>
                <form method="post" action="{% url 'students:delete_student' student.pk %}" id="delete_form">
                    {% csrf_token %}
                    <input type="hidden" name="pk" id="delete_pk">
                </form>

                <script>
                    function delete_item(pk) {
                        var hidden_item = document.getElementById("delete_pk");
                        hidden_item.value = pk;
                        var form = document.getElementById("delete_form");
                        form.submit();
                    }
                </script>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}