{% extends "index.html" %}
{% load static %}
{% block content %}
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Birth date</th>
            <th scope="col">Age</th>
            <th scope="col">Group</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for teacher in teachers %}
            <tr>
                {% if person.avatar %}
                    <th scope="row"><img height="50" width="50" src="{{ person.avatar.url }}"
                                         alt="no image" title="avatar">
                        {% else %}
                    <th scope="row"><img height="50" width="50" src="{% static "img/default_avatar.jpeg" %}"
                                         alt="no image" title="avatar">
                {% endif %}
                </th>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                {% if teacher.birth_date %}
                    <td>{{ teacher.birth_date }}</td>
                    <td>{{ teacher.age }}</td>
                {% else %}
                    <td>Undefined</td>
                    <td>Undefined</td>
                {% endif %}
                <td>
                    {% for group in teacher.group.all %}
                        <a href="{% url "groups:update_group" group.pk %}">{{ group.group_name }}</a>
                    {% endfor %}
                </td>
                <td><a type="button" class="btn btn-warning"
                       href="{% url 'teachers:update_teacher' teacher.pk %}">Edit</a>
                <td>
                    <button class="btn btn-danger" onclick="delete_item({{ teacher.pk }});">Delete</button>
                </td>
                <form method="post" action="{% url 'teachers:delete_teacher' teacher.pk %}" id="delete_form">
                    {% csrf_token %}
                    <input type="hidden" name="pk" id="delete_pk">
                </form>

                <script>
                    function delete_item(pk) {
                        var hidden_item = document.getElementById("delete_pk");
                        hidden_item.value = pk;
                        var form = document.getElementById("delete_form");
                        form.submit();
                    }
                </script>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}