{% extends "index.html" %}

{% block content %}
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Group Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Amount of Students</th>
            <th scope="col">Teacher Name</th>
            <th scope="col">Group Number</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for group in groups %}
            <tr>
                <th scope="row">{{ group.pk }}</th>
                <td>{{ group.group_name }}</td>
                <td>{{ group.start_date }}</td>
                <td>{{ group.end_date }}</td>
                <td>{{ group.group_email }}</td>
                <td>{{ group.group_phone }}</td>
                <td>{{ group.amount_student }}</td>
                <td>{{ group.teacher_name }}</td>
                {% if group.group_number %}
                    <td>{{ group.group_number }}</td>
                {% else %}
                    <td>Undefined</td>
                {% endif %}
                <td><a type="button" class="btn btn-warning"
                       href="{% url 'groups:update_group' group.pk %}">Edit</a>
                <td>
                    <button class="btn btn-danger" onclick="delete_item({{ group.pk }});">Delete</button>
                </td>
                <form method="post" action="{% url 'groups:delete_group' group.pk %}" id="delete_form">
                    {% csrf_token %}
                    <input type="hidden" name="pk" id="delete_pk">
                </form>

                <script>
                    function delete_item(pk) {
                        var hidden_item = document.getElementById("delete_pk");
                        hidden_item.value = pk;
                        var form = document.getElementById("delete_form");
                        form.submit();
                    }
                </script>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}